/* Палитра
цвет текста color: #757575;
цвет заголовков color: #212121;
цвет акцента color: #2196F3;
цвет фона main: #E5E5E5;
цвет шапки и заголовка героя:#FFFFFF;
цвет фона футера и геря: #2F303A;
цвет фильтров:#F5F4FA;
цвет контактов в футере:rgba(255, 255, 255, 0.6);
 */

:root {
  --primary-text-color: #757575;
  --title-text-color: 212121;
  --accent-color: #2196f3;
  --bg-main: #e5e5e5;
  --white: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --bg-dark: #2f303a;
}

body {
  background-color: var(--bg-main);
  color: var(--title-text-color);
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: var(--white);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo-color {
  color: var(--accent-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.header-logo {
  color: var(--title-text-color);
}

.navigation .link {
  color: var(--title-text-color);
}

/* .title {
  color: var(--title-text-color);
} */

.text {
  color: var(--primary-text-color);
}

.contacts .link {
  color: var(--primary-text-color);
}

.navigation .link,
.contacts .link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.navigation .link:hover,
.contacts .link:hover,
.navigation .link:focus,
.contacts .link:focus {
  color: var(--accent-color);
}

.address,
.footer-logo {
  color: var(--white);
}

.address {
  font-style: normal;
}
.footer-contact {
  color: var(--footer-contact-color);
}

.footer-contact:hover,
.address:hover,
.footer-contact:focus,
.address:focus {
  color: var(--accent-color);
}

footer {
  background-color: var(--bg-dark);
}
