/* Палитра
цвет текста color: #757575;
цвет заголовков color: #212121;
цвет акцента color: #2196F3;
цвет фона main: #E5E5E5;
цвет шапки и заголовка героя:#FFFFFF;
цвет фона футера и геря: #2F303A;
цвет фильтров:#F5F4FA;
цвет контактов в футере:rgba(255, 255, 255, 0.6);
 */

:root {
  --primary-text-color: #757575;
  --title-text-color: 212121;
  --accent-color: #2196f3;
  --bg-main: #e5e5e5;
  --white: #ffffff;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --bg-team: #f5f4fa;
}

.hero-title,
.hero-button {
  color: var(--white);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  color: var(--white);
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color);
  background-color: var(--white);
}

.hero {
  background-color: var(--bg-dark);
}

.benefit-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefit-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team {
  background-color: var(--bg-team);
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
}

.name-title {
  font-weight: 500;
}

.profession {
  font-weight: 400;
}

.name-title,
.profession {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
